/* Button.css */
button {
    border-radius: 2px;
    padding: 12px 25px;
}

.button-primary {
    background-color: #33A0FF;
    color: white;
    border:none;
}

.button-primary:hover {
    background-color: #2E90E5;
    color: white;
    border:none;
}

.button-primary-outline {
    background-color: white;
    border: 5px solid #33A0FF;
    color:#33A0FF;
}

.button-primary-faded{
    background-color: #EAF5FF;
    color: #85C6FF;
    border:none;
}
